/* General Styles */
.container {
  display: flex;
  flex-direction: column;
  padding: 0 2.5px;
}

.blogs {
  flex: 1;
  padding: 5px;
  /* background-image: url('../assets/back3.jpg');
  background-size: cover;
  background-position: center; */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blogs::-webkit-scrollbar {
  display: none;
}

.blogs {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blog-item {
  padding: 20px;
  background: rgba(42, 42, 42, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.blog-item p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.blog-item a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.blog-item a:hover {
  text-decoration: underline;
}

.canvas-container {
  margin-top: 20px;
  height: 300px;
  background-image: url('../assets/back3.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

/* Responsive Styles */
@media (min-width: 350px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .blogs {
    margin-top: 80px;
    flex: 3;
    height: auto;
  }

  .blog-item{
    margin-top: 80px;
  }
  .canvas-container {
    flex: 1;
    height: auto;
    margin-left: 15px;
  }
  .blog-item h3{
    font-size: 1.3rem;
  }
  .blog-item{
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .blog-item h3 {
    font-size: 2rem;
  }

  .blog-item p {
    font-size: 1.2rem;
  }

  .blog-item {
    padding: 25px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-top: 80px;
    padding: 0 50px;
  }

  .blogs {
    margin-top: 10px;
    flex: 4;
    padding: 20px;
  }

  .canvas-container {
    flex: 1;
  }

  .blog-item h3 {
    font-size: 2.5rem;
  }

  .blog-item p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-top: 100px;
  }

  .blogs {
    padding: 30px;
  }

  .blog-item h3 {
    font-size: 3rem;
  }

  .blog-item p {
    font-size: 1.8rem;
  }
}
