/* General Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


/* Left Sidebar */
.blog {
    background-color: #c5b9cd;
    width: 16.66%; /* 2/12 */
    display: flex;
    flex-direction: column;
    padding: 10px;
}
